@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sanss";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  color: inherit;
}

.page-navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.user-navigation-link {
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
}

.page-title .hotel-search-title .subscription-title {
  font-size: 30px;
  line-height: 36px;
}

.page-title-discription .hotel-search-discription .subscription-discription {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-title .feature-title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-discription .feature-discription {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.text-light {
  color: #FFFFFF;
}

.bg-dark {
  background-color: #82b3d3;
}

.bg-average {
  background-color: #83B3D333;
}

.bg-light {
  background-color: #83B3D31F;
}

.pagination-current {
  background-color: #83B3D31F;
}

.hotel-search-btn {
  font-size: 20px;
  line-height: 36px;
}

.subscription-main {
  background-image: url(../img/subscription-bg.jpg);
}

.inner-header {
  background-image: url(../img/catalog-hero-bg.jpg);
}
